<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~ Copyright 2012-2013 Manuel Schulze <manuel_schulze@i-entwicklung.de>
  ~
  ~ Licensed under the Apache License, Version 2.0 (the "License");
  ~ you may not use this file except in compliance with the License.
  ~ You may obtain a copy of the License at
  ~
  ~     http://www.apache.org/licenses/LICENSE-2.0
  ~
  ~ Unless required by applicable law or agreed to in writing, software
  ~ distributed under the License is distributed on an "AS IS" BASIS,
  ~ WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
  ~ See the License for the specific language governing permissions and
  ~ limitations under the License.
  -->

<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:int="http://www.springframework.org/schema/integration"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
 http://www.springframework.org/schema/beans/spring-beans-3.1.xsd
 http://www.springframework.org/schema/integration
 http://www.springframework.org/schema/integration/spring-integration.xsd">

    <!--
    | This file configures application services.
    -->

    <bean id="auditService" class="de.iew.services.impl.AuditServiceImpl"/>

    <int:service-activator input-channel="asynchronousApplicationEventChannel" ref="auditService"
                           method="handleApplicationEventMessage">
    </int:service-activator>

    <bean class="de.iew.framework.audit.Log4jAuditAppender">
        <property name="name" value="#{config['audit.audit_service_appender_name']}"/>
        <property name="appenderLog4jPriority" value="#{config['audit.appender_log4j_priority']}"/>
        <property name="applicationEventChannel" ref="applicationEventChannel"/>
    </bean>
</beans>