#
# Copyright 2012 Manuel Schulze <manuel_schulze@i-entwicklung.de>
#
# Licensed under the Apache License, Version 2.0 (the "License");
# you may not use this file except in compliance with the License.
# You may obtain a copy of the License at
#
#     http://www.apache.org/licenses/LICENSE-2.0
#
# Unless required by applicable law or agreed to in writing, software
# distributed under the License is distributed on an "AS IS" BASIS,
# WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
# See the License for the specific language governing permissions and
# limitations under the License.
#

# Konfiguriert die isc.Page.setIsomorphicDir() Eigenschaft
# Das / am Ende ist wichtig, da SC relativ zu diesem Verzeichnis auflöst
de.iew.web.taglibs.LoadIsc.ISC_ISOMORPHIC_DIR_CONFIG=/static/isomorphic/

# Basisverzeichnis der Smartclient Bootstrap Klassen
# Werden immer eingebunden.
de.iew.web.taglibs.LoadIsc.ISC_MODULES_BASE_CONFIG=/static/isomorphic/system/modules

# Basisverzeichnis der Smartclient Skins
de.iew.web.taglibs.LoadIsc.ISC_SKINS_BASE_CONFIG=/static/isomorphic/skins

# Das Smartclient Skin
de.iew.web.taglibs.LoadIsc.ISC_SKIN_CONFIG=Graphite